[submodule "vendor/stats/vendor/pimple"]
	path = vendor/stats/vendor/pimple
	url = https://github.com/fabpot/Pimple
[submodule "vendor/stats/vendor/Symfony/Component/Yaml"]
	path = vendor/stats/vendor/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "vendor/stats/vendor/Symfony/Component/ClassLoader"]
	path = vendor/stats/vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/stats/vendor/Symfony/Component/Console"]
	path = vendor/stats/vendor/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
[submodule "vendor/stats/vendor/php-amqplib"]
	path = vendor/stats/vendor/php-amqplib
	url = https://github.com/videlalvaro/php-amqplib.git
[submodule "vendor/stats/vendor/monolog"]
	path = vendor/stats/vendor/monolog
	url = https://github.com/Seldaek/monolog.git
